.treatments-container {
    padding: 15rem 2rem 2rem 2rem;
}

.treatments {
    text-align: justify;
    padding: 3rem 0;
}

.treatments h1 {
    font-size: 3rem;
    padding: 3rem 0;
    text-align: center;
}

.videoTratements {
    width: 100%;
    height: 80vh;
}

#etherea_treatmens {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    gap: 2rem;
}

#exilis_treatmens {
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
    gap: 2rem;
}

#ultrafocus_treatmens {
    display: flex;
    align-items: stretch;
    gap: 2rem;
}

#ultraformer_treatmens {
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
    gap: 2rem;
}

@media (max-width: 900px) {
    #etherea_treatmens {
        flex-direction: column;
    }
    
    #exilis_treatmens {
        flex-direction: column;
    }

    #ultrafocus_treatmens {
        flex-direction: column;
    }

    #ultraformer_treatmens {
        flex-direction: column;
    }
}