{{>navbar}}
<section id="contact-container">
    <div class="center" id="contact-content">
        <div class="animation-contact">
            <a href="tel:+55998665656"  data-aos="fade-right"><i class="ri-phone-fill"></i>Ligar</a>
            <a href="https://www.google.com.br/maps/place/Spa%C3%A7o+Heloisa+Rocha/@-22.9849537,-43.3588905,21z/data=!4m6!3m5!1s0x9bde59e1eb7d15:0xeae0aca5c7e3887a!8m2!3d-22.9849454!4d-43.358861!16s%2Fg%2F11b8_mpjdd?entry=ttu" target="_blank" data-aos="flip-down"><i class="ri-map-pin-fill"></i> Abrir mapa</a>
            <a href="https://api.whatsapp.com/send?phone=5521998665656" target="_blank"  data-aos="fade-left"><i class="ri-whatsapp-fill"></i> Whatsapp</a>
        </div>
    </div>
</section>
{{>footer}}