{{>navbar}}
{{>popup}}

<section id="home-container">
     <video autoplay loop muted plays-inline class="background-clip">
        <source src="./assets/video/blood_pressure.mp4" type="video/mp4">
    </video>
</section>
<section id="latest-news-container" class="center">
        <h2>Últimas notícias</h2>
        <div class="cards">
            <article data-aos="fade-right" data-aos-duration="1000">
                <figure>
                    <img src="/assets/sample/image_04.jpg" alt="">
                </figure>

                <h3>Eu & Ela Entrevista</h3>
                <p>Entrevista com a Dra Heloisa Rocha: gravidez, menopausa, emagrecimento saudável.</p>

                <a href="/newsOne">Ler mais <i class="ri-arrow-right-line"></i></a>
            </article>

            <article data-aos="flip-down">
                <figure>
                    <img src="/assets/sample/image_03.jpg" alt="">
                </figure>

                <h3>Keh e Heloisa Rocha</h3>
                <p>Veja a entrevista feita pela blogueira Keh com Heloisa Rocha. Como eu cuido do meu corpo.</p>

                <a href="/newsTwo">Ler mais <i class="ri-arrow-right-line"></i></a>
            </article>
            <article data-aos="fade-left" data-aos-duration="1000">
                <figure>
                    <img src="/assets/sample/image_02.jpg" alt="">
                </figure>

                <h3>Programa Amaury Jr.</h3>
                <p>Veja a entrevista da Dra. Heloisa Rocha no Programa Amaury jr.</p>

                <a href="/newsTree">Ler mais <i class="ri-arrow-right-line"></i></a>
            </article>
        </div>
</section>

<section id="info-container">
    <div id="info-content" class=" center">
        <div class="containerOne"data-aos="fade-right" data-aos-delay="300">
            <h2>Trabalhe conosco!</h2>
            <a href="mailto:administracao@heloisarocha.com.br">Envie-nos seu currículo</a>
        </div>
        <div class="containerTwo" data-aos="zoom-in">
            <h2>Notícias anteriores</h2>
            <a class="icon_small_arrow right_white" href="./news">Veja as notícias anteriores</a>
        </div>
        <div class="containerTree" data-aos="fade-left" data-aos-delay="300">
            <h2>Heloisa Rocha</h2>
            <a href="/team">Conheça o Currículo de Heloisa Rocha</a>
        </div>
    </div>
</section>
