{{>navbar}}
<section class="news-one-container">
    <div class="center">
        <div class="news-one-content">
            <h1 data-aos="zoom-in">Destaque</h1>
            <div>
                <span data-aos="zoom-in">
                    <a href="/">Home</a>
                    <span>
                        <i class="ri-arrow-right-line"></i>
                        Notícias
                        <i class="ri-arrow-right-line"></i>
                        Destaque
                    </span>
                </span>
            </div>
        </div>
        <div class="video">
            <div>

                <iframe width="780" height="390" src="https://www.youtube.com/embed/x_YWRAmXkHg?si=6oM3-dEJdz8wh_A9"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>