{{>navbar}}
    <section id="news-containers" class="center">
        <h1>Notícias</h1>
        <div>
            <article>
                <figure>
                    <img src="/assets/sample/image_03.jpg" alt="newsOne">
                </figure>
                <h4>Keh e Heloisa Rocha</h4>
                <p>Veja a entrevista feita pela blogueira Keh com Heloisa Rocha. Como eu cuido do meu corpo.</p>
                <a href="/newsOne">Ler mais <i class="ri-arrow-right-line"></i></a>
            </article>
            <article>
                <figure>
                    <img src="/assets/sample/image_02.jpg" alt="newsOne">
                </figure>
                <h4>Programa Amaury Jr.</h4>
                <p>Veja a entrevista da Dra. Heloisa Rocha no Programa Amaury jr.</p>
                <a href="/newsOne">Ler mais <i class="ri-arrow-right-line"></i></a>
            </article>
        </div>
    </section>