{{>navbar}}
<div>
    <div id="spaco-container" class="center">
        <div id="spaço-header">
            <h2 data-aos="fade-right">O Spaço</h2>
            <span data-aos="fade-left">
                <span> <a href="/">Home</a> <i class="ri-arrow-right-line"></i> O Spaço</span>
            </span>
        </div>
        <div id="articles-spaco">
            <div id="articleOne" data-aos="fade-right">
                <p>
                    Este espaço foi criado com o objetivo de proporcionar aos seus clientes um bem estar físico e
                    mental.
                    Num
                    mundo competitivo como o que vivemos que exige cada vez mais desempenho, equilíbrio emocional e
                    capacidade intelectual, é fundamental prevenirmos o desgaste físico e psicológico causado por este
                    estresse diário; o que não é nada fácil para quem tem uma vida sedentária, com excessos de
                    compromissos,
                    dispêndio de horas no trânsito, alimenta-se de forma inadequada, e mantém hábitos nocivos como o de
                    fumar e beber álcool em excesso.
                </p>
                <p>
                    Estas situações do nosso cotidiano desencadeiam uma série de sinais e sintomas que comprometem a
                    beleza
                    e a boa função do nosso organismo, tornando-o vulnerável a instalação de doenças e infecções
                    oportunistas.
                </p>
                <p>
                    Quantas vezes você já se deparou com o seu semblante abatido, com um excesso de peso, pele sem viço,
                    um
                    sono intranqüilo e uma fadiga crônica? Nestes, e em outros casos, a medicina preventiva pode mudar a
                    sua
                    vida!
                </p>
            </div>

            <div id="articleTwo" data-aos="fade-left">
                <p class="colorGreen">
                    "Qualquer falha em algum ponto ou mecanismo desta máquina (ser humano) compromete toda a nossa
                    produção (vida), surgindo os defeitos (doença)."
                </p>
                <p>
                    O objetivo final de nossa clínica é realizar a medicina preventiva com base na orientação de uma
                    dieta balanceada e personalizada, estímulo á prática de exercícios físicos, boa qualidade de sono,
                    correção dos déficits minerais, suplementação de vitaminas e aminoácidos e reposição fito hormonal
                    na menopausa e andropausa.
                </p>
                <p class="colorGreen">
                    "A nutrição está para a saúde como o tijolo está para o muro; os suplementos constituem o cimento".
                </p>
                <p>
                    Não existe uma idade específica para começar a ter esta preocupação, pois a prevenção do
                    envelhecimento precoce permite que as pessoas passem por todas as etapas de vida bem dispostas, com
                    saúde e felizes!
                </p>
            </div>
        </div>
    </div>
    <div class="center">
        <h2>Galeria</h2>

        <div id="slider-swiper-container">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="/assets/slider/spaco1.JPG" alt="image one"></div>
                    <div class="swiper-slide"><img src="/assets/slider/spaco2.JPG" alt="ImageTwo"></div>
                    <div class="swiper-slide"><img src="/assets/slider/spaco3.JPG" alt="ImageTwo"></div>
                    <div class="swiper-slide"><img src="/assets/slider/spaco4.JPG" alt="image four"></div>
                    <div class="swiper-slide"><img src="/assets/slider/spaco5.JPG" alt="image five"></div>
                    <div class="swiper-slide"><img src="/assets/slider/spaco6.JPG" alt="image six"></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>

{{>footer}}