{{>navbar}}
<div class="container-team">
    <div class="center">
        <div class="nav-bar-team">
            <h1 data-aos="fade-down">Equipe</h1>
            <div class="nav-bar-team-content" data-aos="fade-down">
                <span> <a href="/">Home</a> <i class="ri-arrow-right-line"></i> O Equipe</span>
            </div>
        </div>

        <div id="doctor-description-container">
            <figure data-aos="fade-right">
                <img src="/assets/equipe/heloisa-full.jpg" alt="doctor">
            </figure>
            <article id="description" data-aos="fade-left">
                <h2 class="title">Dra.Heloisa Rocha</h2>
                <ul>
                    <li>Dra.Heloisa Rocha</li>
                    <li>Cardiologista/Ortomolecular - CRM 5249046-5 RJ</li>
                </ul>

                <p>
                    Heloisa é cardiologista, formou-se em Medicina em 1987 na faculdade de Medicina de Valença e
                    especializou-se em Cardiologia em 1990. Com o tempo, percebeu que apenas a prática clínica não
                    trazia os resultados que esperava para os seus pacientes, pois eles sempre voltavam ao seu
                    consultório com os mesmos problemas: hipertensão, diabetes, com efeitos colaterais das medicações e,
                    o que é pior, cada vez mais tensos e estressados com as situações cotidianas.
                </p>
                <p>
                    Foi assim que decidiu, em 1994, a fazer um curso de terapia ortomolecular para conseguir equilibrar
                    o organismo dos pacientes e ajudá-los a conquistar saúde e qualidade de vida.
                </p>
                <p>
                    Heloisa acredita que é responsabilidade de todo médico ter conhecimentos á respeito de nutrição, por
                    isso começou um curso universitário na área, mas sua atuação como médica não permitiu que ela
                    continuasse.
                </p>
                <p>
                    Nós vivemos e morremos pela boca e foi com esse preocupação que decidiu se unir a uma nutricionista
                    e ampliar seu trabalho. E esse foi o resultado: navegue em nosso site e verá o que podemos te
                    oferecer.
                </p>
            </article>
        </div>
        <div id="team-container">
            <h2 data-aos="fade-right">Conheça o nosso time</h2>

            <div id="team-desktop">
                <div id="columnOne">
                    <div data-aos="flip-right">
                        <figure>
                            <img src="/assets/equipe/raphaella.jpeg" alt="image one">
                        </figure>
                        <div>
                            <h5>Dra. Raphaella Marques</h5>
                            <span>Dermatologista</span>
                        </div>
                    </div>

                    <div data-aos="flip-right">
                        <figure>
                            <img src="/assets/equipe/carol-aloan.jpeg" alt="ImageTwo">
                        </figure>
                        <div>
                            <h5>Dra. Carolina Aloan</h5>
                            <span>Endocrinologista</span>
                        </div>
                    </div>

                    <div data-aos="flip-right">
                        <figure>
                            <img src="/assets/equipe/tatiana.jpeg" alt="ImageTwo">
                        </figure>
                        <div>
                            <h5>Dra. Tatiana Lima</h5>
                            <span>Fisioterapeuta</span>
                        </div>
                    </div>
                </div>

                <div id="columnTwo">
                    <div data-aos="flip-right">
                        <figure>
                            <img id="carolina" src="/assets/equipe/carolina-carvalho.jpg" alt="image four">
                        </figure>
                        <div>
                            <h5>Dra. Carolina Carvalho</h5>
                            <span>Nutricionista</span>
                        </div>
                    </div>

                    <div data-aos="flip-right">
                        <figure>
                            <img src="/assets/equipe/monica.jpeg" alt="image five">
                        </figure>
                        <div>
                            <h5>Dra. Mônica Morgado</h5>
                            <span>Nutricionista Vegana</span>
                        </div>
                    </div>
                </div>

            </div>


            <div id="slider-swiper-container">
                <div id="team-slide-container" class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide slide2">
                            <img src="/assets/equipe/raphaella.jpeg" alt="image one">
                            <div>
                                <h5>Dra. Raphaella Marques</h5>
                                <span>Dermatologista</span>
                            </div>
                        </div>
                        <div class="swiper-slide slide2">
                            <img src="/assets/equipe/carol-aloan.jpeg" alt="ImageTwo">
                            <div>
                                <h5>Dra. Carolina Aloan</h5>
                                <span>Endocrinologista</span>
                            </div>
                        </div>
                        <div class="swiper-slide slide2">
                            <img src="/assets/equipe/tatiana.jpeg" alt="ImageTwo">
                            <div>
                                <h5>Dra. Tatiana Lima</h5>
                                <span>Fisioterapeuta</span>
                            </div>
                        </div>
                        <div class="swiper-slide slide2">
                            <img src="/assets/equipe/carolina-carvalho.jpg" alt="image four">
                            <div>
                                <h5>Dra. Carolina Carvalho</h5>
                                <span>Nutricionista</span>
                            </div>
                        </div>
                        <div class="swiper-slide slide2">
                            <img src="/assets/equipe/monica.jpeg" alt="image five">
                            <div>
                                <h5>Dra. Mônica Morgado</h5>
                                <span>Nutricionista Vegana</span>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>
