{{>navbar}}
<section id="treatments-container" class="center">
    <h1>Tratamentos</h1>
    <div id="faq">
        <section class="treatments-box">
            <details>
                <summary class="treatments-box-summary-background">
                    <h4>Etherea – Tratamento facial</h4>
                </summary>
                <div class="treatments-box-text">

                    <p>O ETHEREA é uma plataforma de laser totalmente desenvolvida no Brasil e está presente no
                        mundo todo. É uma escolha excepcional para quem busca resultados de alta qualidade e
                        eficácia em uma ampla gama de procedimentos estéticos. Nossa ponteira ACROMA é uma
                        adição excepcional ao ETHEREA, trabalha com pulsos de baixa freqüência e gera
                        rejuvenescimento não-ablativo (promovendo uma iluminação na camada mais superficial da
                        pele).
                    </p>

                    <p class="treatments-box-bold-text">
                        Tecnologia Versátil: várias tecnologias em um único dispositivo, permitindo uma variedade de
                        tratamentos personalizados.
                    </p>

                    <p class="treatments-box-bold-text">
                        Segurança Avançada: Equipado com tecnologia de ponta para garantir a segurança do paciente
                        durante os procedimentos através de suas múltiplas possibilidades de intensidade e espectro
                        de luz.
                    </p>

                    <p class="treatments-box-bold-text">
                        Resultados Eficazes: O ETHEREA oferece resultados notáveis em tratamentos de
                        rejuvenescimento da pele, remoção de manchas, redução de rugas e muito mais.
                    </p>
                    <p class="treatments-box-bold-text">
                        Recuperação Rápida: Muitos tratamentos realizados com o ETHEREA possuem um tempo
                        mínimo de recuperação, permitindo que os pacientes retornem às suas atividades diárias
                        rapidamente.
                    </p>

                    <p>Indicações:</p>

                    <p>Rejuvenescimento Facial: Redução de rugas e linhas de expressão, tonificação da pele através
                        de estímulo de colágeno e redução de poros dilatados e uniformização da pele, reduzindo a
                        pigmentação irregular. </p>
                    <div class="treatments-box-options">
                        <ul>
                            <li>-- Tratamento de olheiras</li>
                            <li>-- Remoção de Tatuagens</li>
                            <li>-- Tratamentos de Manchas, melasma e outras imperfeições</li>
                            <li>-- Tratamentos de acne e suas cicatrizes</li>
                            <li>-- Remoção de Estrias</li>
                            <li>-- Redução de cicatrizes</li>
                        </ul>
                    </div>
                </div>
            </details>
        </section>
        <section class="treatments-box">
            <details>
                <summary class="treatments-box-summary-background">
                    <h4>Exilis ultra 360 – Facial, Corporal e Íntimo</h4>
                </summary>
                <div class="treatments-box-text">
                    <p>O EXILIS ULTRA 360™ é um sistema de radiofrequência (RF) monopolar focalizado. Além disso,
                        tem a ação simultânea do ultrassom terapêutico para melhorar a permeabilidade do tecido e
                        assim potencializar o efeito da radiofreqüência. Considerado a melhor e mais segura
                        radiofreqüência do mercado
                    </p>

                    <p>Porque EXILIS?</p>

                    <p>Tecnologia de Ponta: O EXILIS 360 ULTRA utiliza uma combinação única de radiofrequência
                        monopolar e ultrassom focalizado para proporcionar resultados excepcionais.</p>

                    <p>Tratamentos Não Invasivos: Oferece tratamentos estéticos não cirúrgicos, evitando incisões e
                        tempo de recuperação prolongado.
                    </p>
                    <p>Seguro: Conta com preciso Controle do Fluxo de Energia (sistema EFC), Resfriamento
                        Controlado (Advanced Peltier Cooling) e com Impedância Inteligente, o qual permite total
                        controle sobre o Fluxo de Energia de forma focalizada, controlada, garandindo um volume de
                        calor na derme e no tecido adiposo, sendo a radiofreqüência mais segura e exclusiva do
                        mercado. </p>

                    <P class="treatments-box-bold-text">Resultados Visíveis: </p>

                    <b>Os Pacientes podem esperar resultados visíveis em relação à redução de
                        gordura, firmeza da pele e melhora na textura.</b>

                    <p class="treatments-box-bold-text">Sessões Rápidas: </p>
                    <b>As sessões de tratamento são rápidas e convenientes, permitindo que os pacientes retornem às suas
                        atividades diárias sem interrupções significativas.</b>

                    <p>Indicações:</p>
                    <p>Redução de Gordura Corporal: O EXILIS 360 ULTRA é altamente eficaz na redução de gordura
                        em áreas como abdômen, flancos, coxas e braços.</p>
                    <div class="treatments-box-options">
                        <ul>
                            <li>-- Esculpimento do contorno corporal</li>
                            <li>-- Tonificação corporal</li>
                            <li>-- Flacidez corporal e facial</li>
                        </ul>
                    </div>

                    <p>Rejuvenescimento Facial: Melhora a firmeza e a textura da pele do rosto, reduzindo rugas e
                        linhas de expressão para um aspecto mais saudável e radiante.
                    </p>

                    <p>Celulites:</p>

                    <p>Rejuvenescimento íntimo externo e interno: Dor crônica, Incontinência urinária leve, Falta de
                        sensibilidade, Hipertrofia dos pequenos lábios, Alargamento dos pequenos lábios, gerando
                        maior prazer sexual.
                    </p>
                </div>
            </details>
        </section>
        <section class="treatments-box">
            <details>
                <summary class="treatments-box-summary-background">
                    <h4>ULTRAFOCUS – Corporal e Facial</h4>
                </summary>
                <div class="treatments-box-text">
                    <p>É uma plataforma para lifting facial e lipomodelagem corporal por meio de tecnologias: ultrasom
                        focalizado
                        corporal, onda de choque piroelétrica corporal e ultra-som microfocado facial
                        dinâmico e estacionário, atingindo profundamente as camadas da pele e promovendo
                        resultados mais eficazes.
                    </p>
                    <p>O seu transdutor apresenta cristal piezoelétrico específico, fazendo com que o feixe de ultrasom
                        seja emitido
                        no formato de um cone, com uma alta concentração de energia em
                        determinado ponto focal.
                    </p>
                    <p class="treatments-box-bold-text">Por que ultrafocus?</p>
                    <p>Não Invasivo: Os tratamentos com ULTRAFOCUS são não cirúrgicos, evitando incisões e
                        períodos de recuperação prolongados.
                    </p>
                    <p>Eficácia Comprovada: O equipamento é comprovadamente eficaz na melhoria da flacidez da
                        pele, redução de rugas e rejuvenescimento facial.
                    </p>
                    <p>Resultados Duradouros: Os resultados do ULTRAFOCUS tendem a ser duradouros,
                        proporcionando uma aparência mais jovem e saudável por um longo período.</p>

                    <p class="treatments-box-bold-text">Indicações:</p>

                    <p>Rejuvenescimento Facial: Reduz rugas e linhas de expressão, promovendo uma pele mais firme
                        e jovial.</p>
                    <p>Lifting Não Cirúrgico: Eleva e tonifica áreas flácidas, como a região das sobrancelhas, maçãs do
                        rosto e pescoço.
                    </p>
                    <p>Melhora da Elasticidade: Estimula a produção de colágeno e elastina, melhorando a
                        elasticidade da pele.
                    </p>
                    <p>Tratamento de Papada: Reduz a gordura localizada sob o queixo, melhorando o contorno
                        facial.
                    </p>
                    <p>Redução de Rugas do Decote: Suaviza rugas e linhas no colo, rejuvenescendo essa área
                        delicada.
                    </p>
                    <p>Lifting de Braços e Coxas: Tonifica a pele flácida em áreas como braços e coxas,
                        proporcionando uma aparência mais esculpida.
                    </p>
                </div>
            </details>
        </section>
        <section class="treatments-box">
            <details>
                <summary class="treatments-box-summary-background">
                    <h4>ULTRAFORMER MPT- corporal e facial</h4>
                </summary>
                <div class="treatments-box-text">
                    <p>O ULTRAFORMER MPT é a melhor escolha para aqueles que buscam tratamentos estéticos de
                        alta qualidade.</p>
                    <p>A tecnologia MPT consiste em emitir ondas de ultrassom focalizadas que provocam múltiplas
                        pequenas zonas de coagulação térmica que penetram profundamente na pele e atingem
                        diversas camadas, causando micro lesões controladas. Essas micro lesões estimulam a
                        produção de colágeno e elastina, proporcionando um efeito lifting e melhora na firmeza da
                        pele.
                    </p>
                    <p>O Ultraformer MPT possui ponteiras específicas para tratar diferentes áreas e profundidades, o
                        que permite personalizar o tratamento de acordo com as necessidades do paciente. As
                        ponteiras microfocadas são utilizadas para tratar a pele e as camadas superficiais estimulando
                        a regeneração da pele, enquanto as ponteiras macrofocadas atingem as camadas mais
                        profundas e o músculo, melhorando o contorno facial e a ablação de gordura.</p>

                    <p>É uma evolução do Ultraformer 3, na qual conta com muitos mais pontos de coagulação onde
                        é aplicado, promovendo uma bioestimulação de colágeno maior e mais eficaz.</p>

                    <p>Por que ULTRAFORMER MPT?</p>

                    <p>Ultrassom micro e macrofocado, tratando diferentes área e profundidades</p>

                    <p>Tratamento Não Invasivo: Os tratamentos com ULTRAFORMER MPT são não cirúrgicos,
                        minimizando desconforto e tempo de recuperação. Algumas aplicações são indolores e outras
                        com desconforto mínimo. </p>

                    <p>Resultados Duradouros: Os resultados do ULTRAFORMER MPT são duradouros,
                        proporcionando uma aparência mais jovem e saudável por um longo período.</p>

                    <p>Indicações:</p>

                    <p>Lifting Facial Não Cirúrgico: Reduz a flacidez da pele, melhora o contorno facial e proporciona
                        uma aparência mais jovem.</p>

                    <p>Melhora da Textura da Pele: Estimula a produção de colágeno, resultando em uma pele mais
                        firme e com textura suave.</p>

                    <p>Redução de Gordura Localizada: Pode ser usado para tratar áreas com excesso de gordura,
                        como abdômen e coxas, promovendo um contorno corporal mais esculpido.</p>

                    <p>Tratamento de Rugas e Linhas de Expressão: Suaviza rugas e linhas faciais, conferindo um
                        aspecto mais rejuvenescido.
                    </p>

                    <p>Redução de Celulite: Ajuda a melhorar a aparência da celulite, proporcionando uma pele mais
                        lisa.</p>

                    <p>Tratamento de Estrias: Atenua a aparência das estrias, promovendo uma pele mais uniforme.</p>

                    <p>Tratamento para flacidez mais eficiente no mercado atualmente. </p>
                </div>
            </details>
        </section>
    </div>
</section>