<footer id="footer-container">
    <div id="footer-content" class="center">
        <div id="footer-address">
            <h3>Spaço Heloisa Rocha</h3>
            <ul>
                <li>Av.João Cabral de Melo Neto 850</li>
                <li>CEO WEST - Bloco 2, Grupo 623-626</li>
                <li>Barra da Tijuca - Rio de Janeiro, RJ</li>
            </ul>
        </div>
        <div id="footer-scheduling">
            <h3>Agendamento:</h3>
            <ul>
                <li>(21) 3282 5121 / 5122</li>
                <li>(21) 9 98665656</li>
                <li>administracao@heloisarocha.com.br</li>
            </ul>
        </div>
        <div>
            <h3>Mídias Sociais</h3>
            <div class="social-icons-container icons-footer">
                <figure class="social-icons">
                    <a href="https://www.facebook.com/spacoheloisarocha" target="_blank">
                        <img src="/assets/social_body/facebook-footer.png" alt="Icon facebook">
                    </a>
                </figure>
                <figure class="social-icons">
                    <a href="https://www.instagram.com/spacoheloisarochaclinica/" target="_blank">
                        <img src="/assets/social_body/instagram-footer.png" alt="Icon instagram">
                    </a>
                </figure>
                <figure class="social-icons">
                    <a href="https://www.tiktok.com/@spacoheloisarochaclinica">
                        <img src="/assets/social_body/tiktok-footer.png" alt="Icon instagram">
                    </a>
                </figure>
            </div>
        </div>
    </div>
    <div id="copyright" class="center">
        <span>© Copyright - Spaço Heloisa Rocha</span>
    </div>
</footer>