<div id="navbar">
    <nav id="navbar-container" class="align-content">
        <div id="logo">
            <figure>
                <a href="/"><img src="/assets/logo.png" alt="Logo"></a>
            </figure>
        </div>
        <div id="navigation-container">
            <div class="social-icons-container">
                <figure class="social-icons">
                    <a href="https://www.facebook.com/spacoheloisarocha" target="_blank">
                        <img src="/assets/social_body/facebook.png" alt="Icon facebook">
                    </a>
                </figure>
                <figure class="social-icons">
                    <a href="https://www.instagram.com/spacoheloisarochaclinica/" target="_blank">
                        <img src="/assets/social_body/instagram.png" alt="Icon instagram">
                    </a>
                </figure>
                <figure class="social-icons">
                    <a href="https://www.tiktok.com/@spacoheloisarochaclinica">
                        <img src="/assets/social_body/tiktok.png" alt="Icon instagram">
                    </a>
                </figure>
            </div>
            <ul id="navigation" class="navigationMobile show">
                <li><a href="/">Home</a></li>
                <li><a href="/ospaco">O spaço</a></li>
                <li><a href="/treatments">Tratamentos</a></li>
                <li><a href="/team">Equipe</a></li>
                <li><a href="/clipping">Clipping</a></li>
                <li><a href="/contact">Contato</a></li>
            </ul>
            <div class="menu-burguer">
                <div class="menu-line"></div>
                <div class="menu-line"></div>
                <div class="menu-line"></div>
            </div>
        </div>
    </nav>
</div>