<div id="popup-container" class="popup">
    <div id="popup-content" data-aos="zoom-in">
        <div id="closePopup" class="closePopupBtn">
            <i class="ri-close-circle-line"></i>
        </div>
        <article id="infoCookies">
            <figure>
                <img src="/assets/cookie.png" alt="">
            </figure>
            <h2>Nós usamos cookies</h2>
            <p>
                Este site utiliza cookies para ajudar a melhorar o nosso serviço o conteúdo presente na pagina.
            </p>
            <button class="acceptCookies" onclick="acceptCookies(true)">Okay</button>
        </article>
    </div>
</div>